<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>recruitWrite</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
	<script type="text/javascript">
	
	function func() {
	if(recCompany.value=='') {
        alert('제목을 입력해주세요.');
        recCompany.focus();
        return false;
	}
	
	if(recDeadline.value=='') {
        alert('마감일을 입력해주세요.');
        recDeadline.focus();
        return false;
	}
	
	if(recQual.value=='') {
        alert('지원자격을 입력해주세요.');
        recQual.focus();
        return false;
	}
	
	if(recSal.value=='') {
        alert('급여를 입력해주세요.');
        recSal.focus();
        return false;
	}
        
	if(recInput.value=='') {
        alert('내용을 입력해주세요.');
        recInput.focus();
        return false;
	}
	return true;
}
	
	</script>
</head>
<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<div th:replace="/header::header"></div>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Recruits</h1>
									</header>
									
									<div>
									</div>
									
									<hr class="major">
									
									<!-- Form -->
													<h3>Form</h3>

													<form action="/info/insertRec" method="post" onSubmit="return func()">
														<div class="row gtr-uniform">
															<div class="col-6 col-12-xsmall">
																<input name="recCompany" id="recCompany" type="text" placeholder="Company" value="">
															</div>
															<div class="col-6 col-12-xsmall">
																<input name="recDeadline" id="recDeadline" type="text" placeholder="Deadline" value="">
															</div>
															<div class="col-6 col-12-xsmall">
																<input name="recQual" id="recQual" type="text" placeholder="Qualifications" value="">
															</div>
															<div class="col-6 col-12-xsmall">
																<input name="recSal" id="recSal" type="text" placeholder="Salary" value="">
															</div>
															<!-- Break -->
															<div class="col-12">
																<select name="recPosit" id="recPosit">
																	<option value="">- Position -</option>
																	<option value="종합직">종합직</option>
																	<option value="엔지니어">엔지니어</option>
																	<option value="기타">기타</option>
																</select>
															</div>
															<!-- Break -->
															<div class="col-4 col-12-small">
																<input name="demo-priority" id="demo-priority-low" type="radio" checked="">
																<label for="demo-priority-low">신입</label>
															</div>
															<div class="col-4 col-12-small">
																<input name="demo-priority" id="demo-priority-normal" type="radio">
																<label for="demo-priority-normal">경력</label>
															</div>
												<!-- Break -->
												<div class="col-12">
													<textarea name="recInput" id="recInput" placeholder="Contents" rows="6"></textarea>
												</div>
												<!-- Break -->
												<div class="col-12">
													<ul class="actions">
														<li><input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" class="primary"></li>
														<li><input type="reset" value="Reset"></li>
													</ul>
												</div>
											</div>
										</form>
																						
									<hr class="major">
									
								</section>

						</div>
					</div>

				<!-- Sidebar -->
				<div th:include="/sidebar"></div>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
</body>
</html>