<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>newsWrite</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
</head>
<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<div th:replace="/header::header"></div>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>News / Features</h1>
									</header>
									
									<div>
									</div>
									
									<hr class="major">
									
									<!-- Form -->
										<h3>Form</h3>

										<form method="post" action="/info/insertNews">
											<div class="row gtr-uniform">
												<div class="col-6 col-12-xsmall">
													<input type="text" name="newsTitle" id="demo-name" value="" placeholder="Title">
												</div>
												<!-- Break -->
												<div class="col-12">
													<select name="demo-category" id="demo-category">
														<option value="">- Category -</option>
														<option value="1">공지</option>
														<option value="1">뉴스</option>
														<option value="1">특집</option>
													</select>
												</div>
												<!-- Break -->
												
												<!-- Break -->
												<div class="col-12">
													<textarea name="newsInput" id="demo-message" placeholder="Contents" rows="6"></textarea>
												</div>
												<!-- Break -->
												<div class="col-12">
													<ul class="actions">
														<li><input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" class="primary"></li>
														<li><input type="reset" value="Reset"></li>
													</ul>
												</div>
											</div>
										</form>
																						
									<hr class="major">
									
								</section>

						</div>
					</div>

				<!-- Sidebar -->
				<div th:include="/sidebar"></div>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
</body>
</html>